/*
  #42b983 vue 绿
  text-indent: 2em; 首行缩进
*/
:root {
  --br: 5px;
  --bcl: ghostwhite;
  --bcb: #2C3E50;
  --pad: 6px 12px;
  --transit: all .3s cubic-bezier(0.1, 0, 0.8, 1);
  --boxSha: 0 20px 40px -15px rgba(0,0,0,.2)
  /* 0 10px 20px -5px rgba(44, 62, 80, 0.5); */
}

html, body {
  /* justify-content: center;
  align-items: center; */
  padding: 0;
  margin: 0;
  font-size: 16px;
  /* font-family: sans-serif; */
  /* -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body {
  height: 1200px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--bcl);
}

body::-webkit-scrollbar {
  max-width: 10px;
  width: 1%;
  height: 1%;
}

/* body::-webkit-scrollbar-track {
  box-shadow: var(--bcl);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--bcl);
} */

body::-webkit-scrollbar-thumb {
  background-color: var(--bcb);
  /* background: repeating-linear-gradient(45deg,
  #f0f0f0 10px,#f0f0f0 20px,
  var(--bcb) 20px,var(--bcb) 30px,
  #f0f0f0 30px,#f0f0f0 40px,
  #DD4B39 40px,#DD4B39 50px); */
}

a {
  text-decoration: none;
}

div, p, span {
  margin: 0;
  padding: 0;
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-left: .5rem;
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

button {
  display: inline-block;
  width: 70px;
  padding: 6px 12px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: var(--br);
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: all .3s cubic-bezier(0.1, 0, 0.8, 1);
}

button:hover {
  color: #fff;
  border-color: var(--bcb);
  background-color: var(--bcb);
}

.btn {
  margin: 0 .3rem;
  padding: 2px 12px;
  border: 1px solid rgba(66, 66, 66, .15);
  border-radius: var(--br);
  /* background-color: #e6ebe6; */
  cursor: pointer;
  -webkit-box-shadow: 0 1px 0 rgba(66, 66, 66, .15);
          box-shadow: 0 1px 0 rgba(66, 66, 66, .15);
          transition: all .3s ease;
}
.btn:active {
  background-color: var(--bcb);
  -webkit-box-shadow: 0 0 0 rgba(66, 66, 66, .15);
          box-shadow: 0 0 0 rgba(66, 66, 66, .15);
}

.container {
  /* width: max-content; */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* text-align: center; */
  color: var(--bcb);
  /* padding: 0 15px;
  margin: 0 auto; */
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .search {
    width: 165px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .search {
    width: 180px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .search {
    width: 240px;
  }
}

.bar {
  width: max-content;
  margin: .5rem auto;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: var(--br);
  background-color: #fff;
  box-shadow: 0 20px 40px -15px rgba(0,0,0,.2);
  z-index: 9;
  transition: all .3s ease;
}

.bar.bide {
  width: 98.5%;
  position: fixed;
  top: 0;
  margin: 0 0 .5rem 0;
  border-radius: 0;
  transition: all .3s ease;
  animation: bar-to-bide .3s ease forwards;
}

@keyframes bar-to-bide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bar > div {
  margin: 0 10px;
}

.log {
  margin: 0 .3rem;
  padding: 2px 12px;
  /* border: 1px solid rgba(66, 66, 66, .15); */
  border-radius: var(--br);
  /* background-color: #e6ebe6; */
  cursor: pointer;
}

.nav a {
  font-weight: bold;
  color: var(--bcb);
  padding: 6px 12px;
  transition: all .3s ease;
  /* text-decoration: none; */
}

.nav a:hover {
  /* animation: spread .3s; */
  box-shadow: inset 0 -3px rgb(187, 19, 187),
              inset 0 -3px #0ff
}

.nav a.router-link-exact-active {
  color: #42b983;
}

.attach {
  display: flex;
  align-items: center;
}

.attach .search {
  border: 0;
  padding: var(--pad);
  border-radius: var(--br);
  background-color: #e6ebe6;
  /* border: 1px solid #e3e3e3; */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.attach .search::placeholder {
  text-align: center;
}

@keyframes spread {
  from {
    box-shadow: inset 0 -3px 20px 0 rgb(187, 19, 187),
                inset 0 -3px 20px 0 #0ff
  }
  50% {
    box-shadow: inset 0 -3px 10px 0 rgb(187, 19, 187),
                inset 0 -3px 10px 0 #0ff
  }
  to {
    box-shadow: inset 0 -3px 0 0 rgb(187, 19, 187),
                inset 0 -3px 0 0 #0ff
  }
}

.prints::after{
  content: ' _';
  animation: glint 1s infinite;
}
@keyframes glint{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

/* 路由过渡 */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all .3s ease;
  position: absolute;
  width: 100%;
}
.slide-right-enter {
  transform: translateX(-100%);
}
.slide-right-leave-active {
  transform: translateX(100%);
}
.slide-left-enter {
  transform: translateX(100%);
}
.slide-left-leave-active {
  transform: translateX(-100%);
}

/* tooltip样式 */
[tooltip] {
  position: relative;
}

[tooltip]::before {
  display: none;
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-bottom-width: 0;
  z-index: 10;
}

[tooltip]::after {
  display: none;
  content: attr(tooltip);
  position: absolute;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 12px;
  max-width: 200px;
  border-radius: var(--br);
  box-shadow: var(--boxSha);
  z-index: 10;
}

[tooltip]:hover::before {
  font-size: x-small;
  display: block;
}

[tooltip]:hover::after {
  font-size: x-small;
  display: block;
}

[tooltip][placement^="top"]::after, [tooltip][placement^="top"]::before {
  animation: anime-top 300ms ease-out forwards;
}

[tooltip][placement^="right"]::after, [tooltip][placement^="right"]::before {
  animation: anime-right 300ms ease-out forwards;
}

[tooltip][placement^="bottom"]::after, [tooltip][placement^="bottom"]::before {
  animation: anime-bottom 300ms ease-out forwards;
}

[tooltip][placement^="left"]::after, [tooltip][placement^="left"]::before {
  animation: anime-left 300ms ease-out forwards;
}

/* 气泡主题 */
.tooltip-theme-dark, [tooltip]::after {
  color: var(--bcl, ghostwhite);
  background-color: var(--bcb);
}

.tooltip-theme-light, [tooltip][effect="light"]::after {
  color: var(--bcb);
  background-color: var(--bcl);
  border: 1px solid var(--bcb);
}

/* 气泡位置 */
/*----上----*/
.tooltip-placement-top, [tooltip]:not([placement])::after, [tooltip][placement=""]::after, [tooltip][placement="top"]::after {
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip-placement-top-right, [tooltip][placement="top-right"]::after {
  bottom: calc(100% + 10px);
  left: 100%;
  transform: translate(-100%, 0);
}

.tooltip-placement-top-left, [tooltip][placement="top-left"]::after {
  bottom: calc(100% + 10px);
  left: 0;
  transform: translate(0, 0);
}

/*----右----*/
.tooltip-placement-right, [tooltip][placement="right"]::after {
  left: calc(100% + 10px);
  top: 50%;
  transform: translate(0, -50%);
}

.tooltip-placement-right-top, [tooltip][placement="right-top"]::after {
  left: calc(100% + 10px);
  top: 0;
  transform: translate(0, 0);
}

.tooltip-placement-right-bottom, [tooltip][placement="right-bottom"]::after {
  left: calc(100% + 10px);
  top: 100%;
  transform: translate(0, -100%);
}

/*----下----*/
.tooltip-placement-bottom, [tooltip][placement="bottom"]::after {
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
}

.tooltip-placement-bottom-right, [tooltip][placement="bottom-right"]::after {
  top: calc(100% + 10px);
  left: 100%;
  transform: translate(-100%, 0);
}

.tooltip-placement-bottom-left, [tooltip][placement="bottom-left"]::after {
  top: calc(100% + 10px);
  left: 0;
  transform: translate(0, 0);
}

/*----左----*/
.tooltip-placement-left, [tooltip][placement="left"]::after {
  right: calc(100% + 10px);
  top: 50%;
  transform: translate(0, -50%);
}

.tooltip-placement-left-top, [tooltip][placement="left-top"]::after {
  right: calc(100% + 10px);
  top: 0;
  transform: translate(0, 0);
}

.tooltip-placement-left-bottom, [tooltip][placement="left-bottom"]::after {
  right: calc(100% + 10px);
  top: 100%;
  transform: translate(0, -100%);
}

/* 三角形主题 */
.triangle-theme-dark, [tooltip]::before {
  border-top-color: var(--bcb);
}

.triangle-theme-light, [tooltip][effect="light"]::before {
  border-top-color: var(--bcb);
}

/* 三角形位置 */
/*----上----*/
.triangle-placement-top, [tooltip]:not([placement])::before, [tooltip][placement=""]::before, [tooltip][placement="top"]::before {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0);
}

.triangle-placement-top-left, [tooltip][placement="top-left"]::before {
  bottom: calc(100% + 5px);
  left: 10px;
}

.triangle-placement-top-right, [tooltip][placement="top-right"]::before {
  bottom: calc(100% + 5px);
  right: 10px;
}

/*----右----*/
.triangle-placement-right, [tooltip][placement="right"]::before, .triangle-placement-right-top, [tooltip][placement="right-top"]::before, .triangle-placement-right-bottom, [tooltip][placement="right-bottom"]::before {
  left: calc(100% + 3px);
  top: 50%;
  transform: translate(0, -50%) rotateZ(90deg);
}

.triangle-placement-right-top, [tooltip][placement="right-top"]::before {
  top: 10px;
}

.triangle-placement-right-bottom, [tooltip][placement="right-bottom"]::before {
  bottom: 10px;
  top: auto;
  transform: translate(0, 0) rotateZ(90deg);
}

/*----下----*/
.triangle-placement-bottom, [tooltip][placement="bottom"]::before, .triangle-placement-bottom-left, [tooltip][placement="bottom-left"]::before, .triangle-placement-bottom-right, [tooltip][placement="bottom-right"]::before {
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, 0) rotateZ(180deg);
}

.triangle-placement-bottom-left, [tooltip][placement="bottom-left"]::before {
  transform: translate(0, 0) rotateZ(180deg);
  left: 10px;
}

.triangle-placement-bottom-right, [tooltip][placement="bottom-right"]::before {
  right: 10px;
  left: auto;
}

/*----左----*/
.triangle-placement-left, [tooltip][placement="left"]::before, .triangle-placement-left-top, [tooltip][placement="left-top"]::before, .triangle-placement-left-bottom, [tooltip][placement="left-bottom"]::before {
  right: calc(100% + 3px);
  top: 50%;
  transform: translate(0, -50%) rotateZ(270deg);
}

.triangle-placement-left-top, [tooltip][placement="left-top"]::before {
  top: 10px;
}

.triangle-placement-left-bottom, [tooltip][placement="left-bottom"]::before {
  bottom: 10px;
  top: auto;
  transform: translate(0, 0) rotateZ(270deg);
}

@keyframes anime-top {
  from {
    opacity: .5;
    bottom: 150%;
  }
}

@keyframes anime-bottom {
  from {
    opacity: .5;
    top: 150%;
  }
}

@keyframes anime-left {
  from {
    opacity: .5;
    right: 150%;
  }
}

@keyframes anime-right {
  from {
    opacity: .5;
    left: 150%;
  }
}